<!DOCTYPE html>
<html lang="en"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http:www.thymeleaf.org"        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head  th:fragment="headfragment">

    <title>Sidebar 01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!--  -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">


    <!--  Bootstrap cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">






    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
</head>
<body>
<th:block th:fragment="nav">

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar" >
            <div class="p-4 pt-5">
                <img th:src="@{/images/LogoST2I.jpg}" class="img logo rounded-circle mb-6" />

                <div  sec:authorize="isAuthenticated()" style="font-size:small;">
                    <i class="bi bi-person-square  fa-2x" >   </i>          <span  sec:authentication="principal.name" >Fullname</span>Role(s): <span sec:authentication="principal.authorities"></span>
                </div></i>
                </li>
                <ul class="list-unstyled components mb-5">

                    <li class="active"   >

                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Manage Users</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu" >
                            <li>
                                <a th:href="@{/User/userList}">List of employees</a>
                            </li>
                            <li>
                                <a th:href="@{/User/addUser}">Add new User</a>
                            </li>
                            <li>
                                <a href="#">Home 3</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#roleSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Role</a>
                        <ul class="collapse list-unstyled" id="roleSubmenu">
                            <li>
                                <a th:href="@{/Role/listRole}">list of roles</a>
                            </li>
                            <li>
                                <a th:href="@{/Role/addRole}">add new role</a>
                            </li>
                            <li>
                                <a href="#">users list in a role</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#functionSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Function</a>
                        <ul class="collapse list-unstyled" id="functionSubmenu">
                            <li>
                                <a th:href="@{/Function/list}">List of Function</a>
                            </li>
                            <li>
                                <a th:href="@{/Function/addFunction}">Add new</a>
                            </li>
                            <li>
                                <a href="#">Page 3</a>
                            </li>
                        </ul>

                    </li>
                    <li>
                        <a href="#departmentSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Department</a>
                        <ul class="collapse list-unstyled" id="departmentSubmenu">
                            <li>
                                <a th:href="@{/Department/list}">List of department</a>
                            </li>
                            <li>
                                <a th:href="@{/Department/addDepartment}">Add new</a>
                            </li>
                            <li>
                                <a href="#">Page 3</a>
                            </li>
                        </ul>
                    </li>

                </ul>
                <div style="background-color: white"><hr></div>
                <br>




                <ul class="list-unstyled components mb-5">

                    <li class="active"   >

                        <a href="#h1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Parent One</a>
                        <ul class="collapse list-unstyled" id="h1" >
                            <li>
                                <a href="">child One</a>
                            </li>
                            <li>
                                <a href="">child two</a>
                            </li>
                            <li>
                                <a href="">child three</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#h2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Parent two</a>
                        <ul class="collapse list-unstyled" id="h2">
                            <li>
                                <a href="">child One</a>
                            </li>
                            <li>
                                <a href="">child two</a>
                            </li>
                            <li>
                                <a href="#">child three</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#h3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Parent three</a>
                        <ul class="collapse list-unstyled" id="h3">
                            <li>
                                <a href="">child One</a>
                            </li>
                            <li>
                                <a href="">child two</a>
                            </li>
                            <li>
                                <a href="#">child three</a>
                            </li>
                        </ul>

                    </li>
                    <li>
                        <a href="#h4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Parent four</a>
                        <ul class="collapse list-unstyled" id="h4">
                            <li>
                                <a href="">child One</a>
                            </li>
                            <li>
                                <a href="">child two</a>
                            </li>
                            <li>
                                <a href="#">child three</a>
                            </li>
                        </ul>
                    </li>

                </ul>















                <div style="background-color: white"><hr></div>
                <br><br><br>









                <div class="footer">
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Internship project <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Stage.com</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>

            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                           <li class="nav-item active">
                                <a class="nav-link" th:href="@{/admin}">admin page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/manager}">manager page</a>
                            </li>
                            <li class="nav-item">
                            </li>
                          <li class="nav-item">
                                    <div> <form sec:authorize="isAuthenticated()" class="form-inline my-2my-lg-0"form-method="post"th:action="@{/logout}">
                                        <button class="btn btn-outline-danger my-2my-sm-0btn-sm"type="submit"><i class="fa fa-sign-out" aria-hidden="true"></i> &nbsp; &nbsp;Logout</button>
                                    </form>    </div>
                                </li>








                                </li>
                            </ul>




                        </ul>
                    </div>
                </div>
            </nav>
            <div layout:fragment="content">
                <h1>Hello world</h1>
                aaaaaa
            </div>
            <!--
            <h2 class="mb-4">Sidebar #01</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            -->

        </div>

    </div></th:block>
<div th:fragment="js">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</div>
</body>
</html>