
    <!DOCTYPE html>
    <html lang="en"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
          xmlns:th="http:www.thymeleaf.org">


    <head  th:fragment="headfragment">

            <title>Sidebar 01</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" th:href="@{/css/style.css}">
       <!--  -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body>
    <th:block th:fragment="nav">

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-4 pt-5">
                <img th:src="@{/images/logo.jpg}" class="img logo rounded-circle mb-5" />
                <ul class="list-unstyled components mb-5">
                    <li class="active">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Manage Users</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a th:href="@{/User/userList}">List of employees</a>
                            </li>
                            <li>
                                <a th:href="@{/User/addUser}">Add new User</a>
                            </li>
                            <li>
                                <a href="#">Home 3</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#roleSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Role</a>
                        <ul class="collapse list-unstyled" id="roleSubmenu">
                            <li>
                                <a th:href="@{/Role/listRole}">list of roles</a>
                            </li>
                            <li>
                                <a th:href="@{/Role/addRole}">add new role</a>
                            </li>
                            <li>
                                <a href="#">users list in a role</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#departmentSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Department</a>
                        <ul class="collapse list-unstyled" id="departmentSubmenu">
                            <li>
                                <a th:href="@{/Department/list}">List of department</a>
                            </li>
                            <li>
                                <a th:href="@{/Department/add}">Add new</a>
                            </li>
                            <li>
                                <a href="#">Page 3</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#functionSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Function</a>
                        <ul class="collapse list-unstyled" id="functionSubmenu">
                            <li>
                                <a th:href="@{/Function/list}">List of Function</a>
                            </li>
                            <li>
                                <a th:href="@{/Function/addFunction}">Add new</a>
                            </li>
                            <li>
                                <a href="#">Page 3</a>
                            </li>
                        </ul>
                    </li>

                </ul>

                <div class="footer">
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Internship project <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Stage.com</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>

            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Portfolio</a>
                            </li>
                            <li class="nav-item">
                               <div> <form sec:authorize="isAuthenticated()" class="form-inline my-2my-lg-0"form-method="post"th:action="@{/logout}">
                                    <button class="btn btn-outline-danger my-2my-sm-0btn-sm"type="submit">Logout</button>
                               </form>    </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div layout:fragment="content">
                <h1>Hello world</h1>
                aaaaaa
            </div>
            <!--
            <h2 class="mb-4">Sidebar #01</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            -->

        </div>

    </div></th:block>
    <div th:fragment="js">
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/popper.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/main.js}"></script>
    </div>
    </body>
    </html>
