<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/adminTemplate.html ">
<head  th:insert="fragments/adminTemplate.html  :: headfragment">

</head>
<body>
<th:block th:insert="fragments/adminTemplate.html  ::nav">

    <div layout:fragment="content">
        <!-- page content -->
<div class="container-lg">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Function <b>Details</b></h2></div>


                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Function Name</th>
                    <th>parent </th>

                </tr>
                </thead>
                <tbody>

                <tr th:each="i : ${function}">
                    <td th:text="${i.nameFunction}">Avatar</td>
                    <td th:text="${i.parent}">Avatar</td>
                    <td>
                        <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                        <a class="edit" title="Edit" data-toggle="tooltip"  a th:href="@{edit/{id}(id=${i.idFunction})}"  ><i class="material-icons">&#xE254;</i></a>
                        <a class="delete" title="Delete" data-toggle="tooltip" a th:href="@{delete/{id}(id=${i.idFunction})}"    ><i class="material-icons">&#xE872;</i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
        <!--end page content --->
    </div>
</th:block>
<div th:insert="fragments/adminTemplate.html ::js"></div>
</body>
</html>
