


<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="test.html">
<head  th:insert="test.html :: headfragment">

</head>
<body>
<th:block th:insert="test.html ::navv">

    <div layout:fragment="content">
        <!-- page content -->


<h3> Affect Roles to users::</h3>

<a th:href="@{/User/userList}" >Back to users List</a>

<div style="margin-left: 10%; font-family: monospace; color:darksalmon;" >

    <div class="row">
        <div class="col-sm-4">
            <br>
            <br>
            <table border="0" style="margin_top:5px; font-family:monospace; font-size:20px" class="title "  >

                <tr >

                    <td ><mark>
                        <div th:switch="${u.sex}">
                            <span th:case="'Female'"> Madame </span>
                            <span th:case="'Male'">Monsieur</span>
                            <span th:case="*">User is some other thing</span>

                    </mark>
                        </div></td>
                    <td>   -    -:</td>
                    <td th:utext="${u.firstName}">:</td>
                </tr>

                </tr>

                <td><mark>Phone</mark></td>
                <td>:</td>
                <td th:utext="${u.tel}">:</td>
                </tr>
                <tr>
                    <td><mark>Email</mark></td>
                    <td >:</td>
                    <td th:utext="${u.email}">:</td>
                </tr>
                <tr>
                    <td><mark>Address</mark></td>
                    <td>:</td>
                    <td th:utext="${u.address}">:</td>
                </tr>
                <tr>
                    <td> <mark> Department</mark> </td>
                    <td>:</td>
                    <td th:utext="${u.department.departmentName}">:</td>
                </tr>
                <br>

                <tr>
                    <td><mark>Age</mark></td>
                    <td>:</td>
                    <td >...</td>
                </tr>



            </table>
        </div>
        <div class="col-sm-8" >
            <br>
            <br>
            <br>
            <br>

            <form th:action="@{/User/save/{id}(id=${user.idUser})}"  th:object="${user}"
                  method="post" style="max-width: 600px; margin: 0 auto;">
                <input type="hidden" th:field="*{idUser}" />
                <input type="hidden" th:field="*{department}" />
                <input type="hidden" th:field="*{firstName}" />
                <input type="hidden" th:field="*{lastName}" />
                <input type="hidden" th:field="*{password}" />
                <input type="hidden" th:field="*{sex}" />
                <input type="hidden" th:field="*{email}" />
                <input type="hidden" th:field="*{hireDate}" />
                <input type="hidden" th:field="*{birthDate}" />
                <input type="hidden" th:field="*{tel}" />
                <input type="hidden" th:field="*{address}" />





                <div class="form-group row">
                    <label class="col-4 col-form-label" style="font-family: 'Elephant' ; font-size: 50px; color: #491217" >Roles: </label>
                    <div class="col-8">
                        <th:block th:each="role: ${listRoles}">
                            <input type="checkbox" th:field="*{roles}"
                                   th:text="${role.name}" th:value="${role.id}" class="m-2" />
                        </th:block>
                    </div>
                </div>
                <br>
                <br>

                <div>
                    <button type="submit " class="btn btn-primary btn">Update</button>
                </div>

        </form>

            <!--end page content --->
        </div>
</th:block>
<div th:insert="test.html ::js"></div>
</body>
</html>


























