<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/adminTemplate.html">
<head  th:insert="fragments/adminTemplate.html:: headfragment">

</head>
<body>
<th:block th:insert="test.html ::nav">

    <div layout:fragment="content">
        <!-- page content -->


<h3> Edit user information ::</h3>

<a th:href="@{/User/userList}" >Back to users List</a>

<div style="margin-left: 10%; font-family: monospace; color:darksalmon;" >

    <div class="row">
        <div class="col-sm-12">

            <table border="0" style="margin_top:5px; font-family:monospace; font-size:20px" class="title "  >

                <tr >

                    <td >
                        <div th:switch="${u.sex}">
                            <span th:case="'Female'"> Madame </span>
                            <span th:case="'Male'">Monsieur</span>
                            <span th:case="*">User is some other thing</span>


                        </div></td>
        <td >:</td>
                    <td th:utext="${u.firstName} +' '+ ${u.lastName} ">:</td>
                </tr>

                </tr>

                <td><mark>Phone</mark></td>
                <td>:</td>
                <td th:utext="${u.tel}">:</td>
                </tr>
                <tr>
                    <td><mark>Email</mark></td>
                    <td >:</td>
                    <td th:utext="${u.email}">:</td>
                </tr>
                <tr>
                    <td><mark>Address</mark></td>
                    <td>:</td>
                    <td th:utext="${u.address}">:</td>
                </tr>
                <tr>
                    <td> <mark> Department</mark> </td>
                    <td>:</td>
                    <td th:utext="${u.department.departmentName}">:</td>
                </tr>
                <br>

                <tr>
                    <td><mark>birth date</mark></td>
                    <td>:</td>
                    <td th:utext="${u.birthDate}">...</td>
                </tr>
        <tr>
            <td><mark>hiring  date</mark></td>
            <td>:</td>
            <td th:utext="${u.hireDate}">...</td>
        </tr>

        <br>
        <br>
        <tr>
            <td><mark>Created </mark></td>
            <td>:</td>
            <td>
                at
                <small><span  th:utext="${u.getCreatedDate()}"></span></small>
                by <small><span th:utext="${u.createdBy}"></span></small>

            </td>

        <tr>
            <td><mark>last modification</mark></td>
            <td>:</td>
            <td>
        at
                <small><span th:utext="${u.getLastModifiedDate()}"></span></small>
                by <small><span th:utext="${u.getLastModifiedBy()}"></span></small>

            </td>

        </tr>



            </table>
        </div>
</div>
            <br>

            <form    th:action="@{/User/edit/{id}(id=${user.idUser})}"  th:object="${user}"
                  method="post" >
                <div class = "form-group row  ">
                    <div class="col-sm-8">
                        <span class="text-danger" > </span>
                    </div>
                </div>
                <div class = "form-group row ">
                    <label for = "fullName" class = "col-sm-3 col-form-label mr-0">Full Name <span class="obligatoire"></span> :</label>
                    <div class = "col-sm-3">
                        <input th:field="*{firstName}"  type = "text" class = "form-control" placeholder = " first name ...">
                    </div>


                    <div class = "col-sm-3">
                        <input th:field="*{lastName}"  type = "text" class = "form-control" placeholder = " last name ...">
                    </div>
                    <div class="col-sm-3">
                        <span class="text-danger" th:errors="*{lastName}"> </span> <br>
                        <span class="text-danger" th:errors="*{firstName}"> </span>

                    </div>
                </div>



                <div class = "form-group row ">
                    <label for = "email" class = "col-sm-3 col-form-label mr-0">Email <span class="obligatoire"></span> :</label>
                    <div class = "col-sm-6">
                        <input th:field="*{email}"  type = "text" class = "form-control" placeholder = "valid email address  ...">
                    </div>
                    <div class="col-sm-3">
                        <span class="text-danger" th:errors="*{email}"> </span>
                    </div>
                </div>
                <input type="hidden" th:field="*{idUser}" />
                <input type="hidden" th:field="*{password}" />

                <div class = "form-group row ">
                    <label for = "tel" class = "col-sm-3 col-form-label">Phone number<span class="obligatoire"></span>:</label>
                    <div class = "col-sm-6">
                        <input th:field="*{tel}"  type = "text" class = "form-control" placeholder = " phone number  ...">
                    </div>
                    <div class="col-sm-3">
                        <span class="text-danger" th:errors="*{tel}"> </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-5 control-label"> Gender <span class="obligatoire"></span> :</label>
                    <div class="col-sm-6">
                        <div class="radio">
                            <label>
                                <input  th:field="*{sex}"  type="radio" name="hosting" value="Male"  id="q156" /> &nbsp; &nbsp;Male
                            </label>

                        </div>
                        <div class="radio">
                            <label>
                                <input th:field="*{sex}"  type="radio" name="hosting" value="Female"  id="q157" /> &nbsp&nbsp;Female
                            </label>
                        </div>
                        <div class="col-sm-4 float-right  ">
                            <span class="text-danger" th:errors="*{sex}"> </span>
                        </div>
                    </div>

                </div>


                <div class = "form-group row ">
                    <label for = "birthDate" class = "col-sm-3 col-form-label">Birth Date  <span class="obligatoire"></span> :</label>
                    <div class = "col-sm-6">
                        <input type="date" th:field="${user.birthDate}" id="student-birtvh-date"   style="width: 200px"
                               placeholder="yyyy-dd-mm" value=""
                               min="1997-01-01" max="2030-31-01"

                        />

                    </div>
                    <div class="col-sm-4">
                        <span class="text-danger" > </span>
                    </div>
                </div>
                <div class = "form-group row ">
                    <label for = "hireDae" class = "col-sm-3 col-form-label">Hire  date <span class="obligatoire"></span> :</label>
                    <div class = "col-sm-6">
                        <input type="date" th:field="${user.hireDate}" id="student-birtvh-date"  style="width: 200px"

                        />

                    </div>
                    <div class="col-sm-3">
                        <span class="text-danger"   > </span>
                    </div>
                </div>
                <div class = "form-group row">
                    <label for = "Adresse" class = "col-sm-3 col-form-label">Adresse <span class="obligatoire"></span> :</label>
                    <div class = "col-sm-6">
                        <textarea   th:field="*{address}" class = "form-control" rows = "3" placeholder = "Complete  address ..."></textarea>
                    </div>
                    <div class="col-sm-3">
                        <span class="text-danger" th:errors="*{address}"> </span>
                    </div>
                </div>




                <input type="hidden" th:field="*{department}" />


                <br><br>
                <div class="form-group row">
                    <label class="col-4 col-form-label"  >Roles : </label>
                    <div class="col-8">
                        <th:block th:each="role: ${listRoles}">
                            <input    type="checkbox" th:field="*{roles}"
                                      th:text="${role.name}" th:value="${role.id}" class="m-xl-3"style=" top: .8rem;
  width: 1.5rem;
  height: 1.5rem; "
                            />

                        </th:block>
                    </div>
                </div>

                <div>
                </div>


                <br>


                <div>
                    <button type="submit " class="btn btn-primary btn" data-toggle="modal"  href="#RoleModal"      style="font-size: 20px;">Update</button>
                </div>

        </form>
    <div class="container">
        <div class="row">
            <div class="modal fade" id="RoleModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label=""><span>×</span></button>
                        </div>

                        <div class="modal-body">

                            <div class="thank-you-pop">
                                <img src="http://goactionstations.co.uk/wp-content/uploads/2017/03/Green-Round-Tick.png" alt="">
                                <h1>Thank You!</h1>
                                <p>user informations has been update it  with success</p>
                                <!-- <h3 class="cupon-pop">Your Id: <span>12345</span></h3> -->

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>






    <!--end page content --->
        </div>
</div>









    <!--Model Popup starts-->



    </div>


    <script>
        function validateForm() {
            alert("user add it with success ");
            return true;
        }
    </script>
</th:block>
<div th:insert="fragments/adminTemplate.html ::js"></div>
</body>
</html>


























