

<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/adminTemplate.html" xmlns:th="http://www.w3.org/1999/html">
<head  th:insert="fragments/adminTemplate.html :: headfragment">

</head>
<body>
<th:block th:insert="fragments/adminTemplate.html ::nav">

    <div layout:fragment="content">
        <!-- page content -->

    <form id="msform" name="myForm" onsubmit="return validateForm()"   method="post" th:action="@{saveRole}" th:object="${role}">
        <h2 class = "mt-4"> Add a new role::</h2>
        <hr/>
        <!-- Form levels error messages here -->
        <div class = "form-group row ">
            <div class="col-sm-8">
                <span class="text-danger" > </span>
            </div>
        </div>
        <div class = "form-group row ">
            <label for = "Role name" class = "col-sm-8 col-form-label"> <b> Role name</b> <b class="redInput"> *</b></label>
            <div class = "col-sm-5">
                <input th:field="*{name}"  type = "text" class = "form-control inputSize" placeholder = "name of the Role..">
            </div>
            <div class="col-sm-4">
                <span class="text-danger" th:errors="*{name}"> </span>
            </div>
        </div>
        <div class = "form-group row">
            <label for = "Description of the role" class = "col-sm-8 col-form-label"><b>Description of the role</b><b class="redInput"> *</b></label>
            <div class = "col-sm-5">
                <textarea   th:field="*{descriptionOfTheRole}" class = "form-control inputSize" rows ="20"cols="20"   placeholder = "short description of the role.."
                style="height:100%"></textarea>
            </div>
            <div class="col-sm-4">
                <span class="text-danger" th:errors="*{descriptionOfTheRole}"> </span>
            </div>
        </div>

<br>
        <div class="form-group row">
            <label class="col-4 col-form-label" style="font-family: 'Elephant' ; font-size: 50px; color: #491217" >function: </label>
            <div class="col-8" >
                <th:block th:each="function: ${Function}">
                    <div    th:unless="${function.children !=null and function.children.isEmpty()}">

                    <input type="checkbox" th:field="*{RolesFunction}"
                           th:text="${function.nameFunction}" th:value="${function.idFunction}" class="m-xl-4"style=" top: .8rem;
  width: 1.55rem;
  height: 1.55rem; --moz-column-count: 2;  column-count:2;  -webkit-column-count:2;"  />
<br>

<br>


            </div></th:block>

            </div>
        </div>

        <div class = "form-group row">
            <div class = "col-sm-10">
                <button type = "submit" class = "btn btn-primary btnStyle">Add</button>
                <input type="hidden" />
            </div>
        </div>

    </form>

        <!--end page content --->


        <script>
            function validateForm() {
                alert("role add it with success ");
                return true;
            }
        </script>
    </div>
</th:block>
<div th:insert="fragments/adminTemplate.html ::js"></div>

</body>