

<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/adminTemplate.html" xmlns:th="http://www.w3.org/1999/html">
<head  th:insert="fragments/adminTemplate.html :: headfragment">

</head>
<body>
<th:block th:insert="fragments/adminTemplate.html ::nav">

    <div layout:fragment="content">
        <!-- page content -->

        <form   method="post" th:action="@{addRole}" th:object="${role}">
            <h2 class = "mt-4"> Add a new role::</h2>
            <hr/>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
            <!-- Form levels error messages here -->
            <div class = "form-group row ">
                <div class="col-sm-8">
                    <span class="text-danger" > </span>
                </div>
            </div>
            <div class = "form-group row ">
                <label for = "Role name" class = "col-sm-8 col-form-label"> <b> Role name</b>  <span class="obligatoire"></span> :</label>
                <div class = "col-sm-5">
                    <input th:field="*{name}"  type = "text" class = "form-control inputSize" placeholder = "name of the Role..">
                </div>
                <div class = "form-group row">
                <div class="col-sm-8">
                    <span class="text-danger" th:errors="*{name}"> </span>
                </div>   </div>
        </div>
        <div class = "form-group row">
                <label for = "Description of the role" class = "col-sm-8 col-form-label"><b>Description of the role</b> <span class="obligatoire"></span> :</label>
                <div class = "col-sm-5">
                    <textarea   th:field="*{descriptionOfTheRole}" class = "form-control inputSize" rows ="20"cols="20"   placeholder = "short description of the role.."
                    style="height:100%"></textarea>
                </div>
            <div class = "form-group row">
                <div class="col-sm-8">
                    <span class="text-danger" th:errors="*{descriptionOfTheRole}"> </span>
                </div>   </div>
        </div>

<br></div>
                    <div class="col-sm">

        <div class="tree well" >
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

            <ul th:each="i : ${Function}"   >

                <li  th:unless="${i.children !=null and i.children.isEmpty()}"  >
                    <span th:text="${i.nameFunction}"  ><i class="icon-folder-open"></i> Parent</span>

                    <input   name="ckparent" id="ckparent"  type="checkbox" th:field="*{RolesFunction}" th:value="${i.idFunction}"  class="m-xl-4"style=" top: .8rem;
                              width: 1.55rem;
                              height: 1.55rem;" />
                                          &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                    <a class="edit" title="Edit" data-toggle="tooltip"  a th:href="@{edit/{id}(id=${i.idFunction})}"  ><i class="material-icons">&#xE254;</i></a>
                    <a class="delete" title="Delete" data-toggle="tooltip" a th:href="@{delete/{id}(id=${i.idFunction})}"    ><i class="material-icons">&#xE872;</i></a>





                    <ul  class="expand">
                        <li th:each="f: ${i.children}"  class="expand"  style="display:none" >
                            <span   th:text="${f.nameFunction}"><i class="icon-minus-sign"></i> </span>
                            <input   type="checkbox" th:field="*{RolesFunction}" name="ckchild1" id="ckchild1" class="ckchild"
                                                                                                                   th:value="${f.idFunction}"   />&nbsp;
                            <a class="edit" title="Edit" data-toggle="tooltip"  a th:href="@{/Function/edit/{id}(id=${f.idFunction})}"  ><i class="material-icons">&#xE254;</i></a>
                            <a class="delete" title="Delete" data-toggle="tooltip" a th:href="@{/Function/delete/{id}(id=${f.idFunction})}"    ><i class="material-icons">&#xE872;</i></a>


                        </li>
                    </ul>
                </li>

            </ul>
        </div>

        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script><script>$(function () {
        $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
        $('.tree li.parent_li > span').on('click', function (e) {
            var children = $(this).parent('li.parent_li').find(' > ul > li');
            if (children.is(":visible")) {
                children.hide('fast');
                $(this).attr('title', 'Expand this branch').find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');
            } else {
                children.show('fast');
                $(this).attr('title', 'Collapse this branch').find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');
            }
            e.stopPropagation();
        });
    });




    </script>


<script type="text/javascript">
    $('input:checkbox.ckchild').click(function(event) {
        var checked = $(this).is(':checked');

        if (checked) {
            $('#ckparent').attr('checked', true);
        }
    });



</script>





        <div class="container">
            <div class="row">
                <div class="col-sm">











                </div>
                <div class="col-sm">














                </div>

            </div>
        </div>




























        <div class = "form-group row">
            <div class = "col-sm-10">
                <button type = "submit" class = "btn btn-primary btnStyle" data-toggle="modal"  href="#RoleModal">Add</button>
                <input type="hidden" />
            </div>
        </div>
                    </div>

                </div>
            </div>
    </form>

        <!--end page content --->

        <!--Model Popup starts-->
        <div class="container">
            <div class="row">
                <div class="modal fade" id="ignismyModal" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label=""><span>×</span></button>
                            </div>

                            <div class="modal-body">
                                <div class="thank-you-pop">
                                    <img src="http://goactionstations.co.uk/wp-content/uploads/2017/03/Green-Round-Tick.png" alt="">
                                    <h1>Thank You!</h1>
                                    <p>Function has been registered in our database with success</p>
                                    <!-- <h3 class="cupon-pop">Your Id: <span>12345</span></h3> -->

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Model Popup starts-->
        <div class="container">
            <div class="row">
                <div class="modal fade" id="RoleModal" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label=""><span>×</span></button>
                            </div>

                            <div class="modal-body">

                                <div class="thank-you-pop">
                                    <img src="http://goactionstations.co.uk/wp-content/uploads/2017/03/Green-Round-Tick.png" alt="">
                                    <h1>Thank You!</h1>
                                    <p>Role has been registered in our database with success</p>
                                    <!-- <h3 class="cupon-pop">Your Id: <span>12345</span></h3> -->

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>









    </div>






























</th:block>







<div th:insert="fragments/adminTemplate.html ::js"></div>




















</body>