
<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/adminTemplate.html">
<head  th:insert="fragments/adminTemplate.html :: headfragment">

</head>
<body>
<th:block th:insert="fragments/adminTemplate.html ::nav">

    <div layout:fragment="content">
        <!-- page content -->
<div class="container-lg">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Roles <b>Details</b></h2></div>


                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Role name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="i : ${role}">
                    <td th:text="${i.name}">Avatar</td>
                    <td th:text="${i.descriptionOfTheRole}">Email of the responsable </td>

                    <td>
                        <a class="add" title="Add" data-toggle="tooltip"  a th:href="@{/Role/addRole}" ><i class="material-icons">&#xE03B;</i></a>
                        <a class="edit" title="Edit" data-toggle="tooltip"  a th:href="@{edit/{id}(id=${i.id})}"  ><i class="material-icons">&#xE254;</i></a>
                        <a class="delete" title="Delete" data-toggle="tooltip" a th:href="@{delete/{id}(id=${i.id})}"    ><i class="material-icons">&#xE872;</i></a>
                    </td>
                </tr>


                </tbody>

            </table>

            <footer style="font-size: large" class="panel-footer">
                Total Items [[${totalItems}]] : Page [[${currentPage}]] of [[${totalPages}]]
                &nbsp; &nbsp; - &nbsp;
                <span th:each="i: ${#numbers.sequence(1, totalPages)}">
        <a th:href="@{'/Role/listRole/page/' + ${i}}">[[${i}]]</a>
        &nbsp; &nbsp;
    </span>
            </footer>

        </div>
    </div>
</div>

        <!--end page content --->


    </div>
</th:block>
<div th:insert="fragments/adminTemplate.html::js"></div>

</body>
