<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head th:insert="fragments/navBar.html :: head" >
    <meta charset="ISO-8859-1">
    <title></title>
</head>
<body >
<div th:insert="~{fragments/navBar.html::navbar}" >jjjjjjj</div>

<body>
<div class="container-lg">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Roles <b>Details</b></h2></div>
                    <div class="col-sm-4">
                        <button type="button"class="btn btn-info " style="color:red"><i class="fa fa-plus" ></i>   <a th:href="@{/Role/addRole}" style="color:red;">Add New</a></button>
                        <button type="button"class="btn btn-info " style="color:red"><i class="fa fa-plus" ></i>   <a href="#" style="color:red;">See other things</a></button>


                    </div>

                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Role name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="i : ${role}">
                    <td th:text="${i.name}">Avatar</td>
                    <td th:text="${i.descriptionOfTheRole}">Email of the responsable </td>

                    <td>
                        <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                        <a class="edit" title="Edit" data-toggle="tooltip"  a th:href="@{edit/{id}(id=${i.id})}"  ><i class="material-icons">&#xE254;</i></a>
                        <a class="delete" title="Delete" data-toggle="tooltip" a th:href="@{delete/{id}(id=${i.id})}"    ><i class="material-icons">&#xE872;</i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>

<div th:insert="fragments/navBar.html :: js"></div>

</body>
</html>