
<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/adminTemplate.html">
<head  th:insert="fragments/adminTemplate.html :: headfragment">

</head>
<body>
<th:block th:insert="fragments/adminTemplate.html ::nav">

    <div layout:fragment="content">
        <!-- page content -->


        <div class="container-lg">
            <div class="table-responsive">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-8"><h2>Departments <b>Details</b></h2></div>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email of the responsible</th>
                            <th>Phone </th>

                            <th>Actions</th>

                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="i : ${departs}">
                            <td th:text="${i.departmentName}">Avatar</td>
                            <td th:text="${i.responsibleEmail}">Email of the responsable </td>
                            <td th:text="${i.responsiblePhone}">Phone number </td>


                            <td>

                                <a class="edit" title="Edit" data-toggle="tooltip"  a th:href="@{/Department/edit/{id}(id=${i.idDepartment})}"  ><i class="material-icons">&#xE254;</i></a>
                                <a class="delete" title="Delete" data-toggle="tooltip" a th:href="@{/Department/delete/{id}(id=${i.idDepartment})}"    ><i class="material-icons">&#xE872;</i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>


                    <footer class="panel-footer">
                        <nav aria-label="Page navigation example">
                            Total Items [[${totalItems}]] : Page [[${currentPage}]] of [[${totalPages}]]
                            <ul class="pagination">
                                <li class="page-item">
                                    &nbsp;    <a  th:if="${currentPage > 1}" th:href="@{/Department/list/page/1}"><i class="fa fa-step-backward"></i></a>
                                    <span th:unless="${currentPage > 1}"><i class="fa fa-step-backward"></i></span>
                                </li>

                                <li class="page-item">
                                    &nbsp;    <a th:if="${currentPage > 1}" th:href="@{'/Department/list/page/' + ${currentPage - 1}}"><i class="fa fa-backward"></i> </a>
                                    <span th:unless="${currentPage > 1}"><i class="fa fa-backward"></i>   </span>
                                </li>

                                <li class="page-item">

                                    &nbsp;     <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                                <a th:if="${i != currentPage}" th:href="@{'/Department/list/page/' + ${i}}">[[${i}]]</a>
                                <span th:unless="${i != currentPage}">[[${i}]]</span>
                                </span>
                                </li>
                                <li class="page-item">
                                    &nbsp; <a th:if="${currentPage < totalPages}" th:href="@{'/Department/list/page/' + ${currentPage + 1}}"> <i class="fa fa-forward"></i></a>
                                    <span th:unless="${currentPage < totalPages}"> <i class="fa fa-forward"></i></span>
                                </li>

                                <li class="page-item">
                                    &nbsp;   <a th:if="${currentPage < totalPages}" th:href="@{'/Department/list/page/' + ${totalPages}}"><i class="fa fa-step-forward"></i></a>
                                    <span th:unless="${currentPage < totalPages}"><i class="fa fa-step-forward"></i></span>
                                </li>
                            </ul>
                        </nav>
                    </footer>



                </div>
            </div>
        </div>
    </div>




    <!--end page content --->


    </div>
</th:block>
<div th:insert="fragments/adminTemplate.html ::js"></div>

</body>







